<h3>Photo Blog Entry</h3>
<div class="container">
<ul>
<li><%= image_tag(@post.image.url(:medium)) %></li>
<li><%= @post.caption %></li>
<li><%= @post.location %></li>
<li><%= @post.blog %></li>
</ul>
</div>