/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery.minicolors
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

$gray-medium-light: #eaeaea;
$background-g: #6A7B86;
$background-o: #E66000;
$background-dg: #424F5A;

html {
    height: 100%;
}

body {
    background-color: $background-dg;
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
    position: relative;
    padding-bottom: 70px;
}

h1 {
    text-align: center;
    color: #FFF;
    font-weight: 700;
    margin-top: 70px;
    font-family: 'Walter Turncoat', cursive;
}

ul {
    background-color: #EAEFF2;
    list-style: none;
    margin: 20px;
    padding: 10px 20px;
    li {
      overflow: auto;
      padding: 5px 0;
    }

    border: 1px solid $gray-medium-light;
}

li img, li a{
    display:block;
    margin:0 auto;
}

img {
    display: block;
    margin: 10px auto;
}

footer {
    background: rgb(106, 123, 134);
    background: rgba(106, 123, 134, 0.5);
    bottom: 0;
    position: absolute;
    width: 100%;
}

footer.footer ul {
    text-align: center;
    background-color: transparent;
    border-style: none;
    width: 150px;
    margin: 0 auto;
}

a:link, a:visited, a:hover, a:active {
    color: #FFF;
}




.navbar-brand {
    font-family: 'Walter Turncoat', cursive;
}
.btn {
    border-radius: 0;
    margin: 0 5px;
}

.centered {
    margin: 0 auto;
}

.posts {
    background-color: #EAEFF2;
    margin: 20px;
    padding: 10px 20px;
    border: 1px solid $gray-medium-light;
}

.posts ul {
    padding: 0;
    margin: 0;
}

.top-post {
    height: 320px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.index-img {
    width: 320px;
    height: 320px;
    // float: left;
}
.index-titles {
    padding: 10px;
    // margin-left: 320px;
    height: 320px;
}


.tiny-font {
    font-size: 0.5em;
}

.edit-post {
    background-color: #FFF;
    padding: 10px;
}

.flash-top {
    margin-top: 70px; 
}

.alert {
    margin: 20px auto;
}

.black {
    color: $background-dg;
}

.username {
    font-weight: 700;
}

.post-header {
    background-color: #ffbb33;
    margin-left: -21px;
    margin-right: -21px;
    margin-top: -11px;
    padding: 5px 30px;
}

.white {
    color: #FFF;
}

.field_with_errors {
    background-color: #ff3333;
  }
  
.simple_form .help-block {
    color: #b94a48;;
}

.simple_form .has-error .form-control {
    border: 1px solid #b94a48;;
}

.show-width {
    max-width: 700px;
}


.caption {
    font-weight: 700;
}


@media (max-width: 680px) {
    .index-img {
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    .index-titles {
        font-size: 1em;
        height: 100%;
    }
    .top-post {
        flex-direction: column;
        height: 100%;
    }

    img {
        width: 100%;
        // height: 200px;
    }

    li img {
        max-height: 32px;
        max-width: 32px;
    }
}

@media (max-width: 450px) {
    img {
        width: 80%;
        margin: auto auto;
    }
    .posts {
        margin: 5px;
        padding: 10px 5px;
    }
    .index-img {
        width: 100%;
        height: 100%;
        // float: left;
    }
    .post-header {
        padding: 5px 20px;
        margin-left: -6px;
        margin-right: -6px;
    }
    .top-post {
        margin-top: 15px;
    }

    li img {
        max-height: 32px;
        max-width: 32px;
    }
}