// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
    list-style: none;
    margin: 20px;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid $gray-lighter;
    }
}