<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to(image_tag("GitHub-Mark-32px.png", :alt => "github"), "https://github.com/cazyw/photoBlog/", :target => "_blank") %></li>
    </ul>
  </nav>
</footer>